.contact-section {
    padding: 5rem 0 0;
  }
  
  .contact-section .card {
    border: 0;
    border-bottom: 0.25rem solid #64a19d;
  }
  
  .contact-section .card h4 {
    font-size: 0.8rem;
    font-family: 'Varela Round';
    text-transform: uppercase;
    letter-spacing: 0.15rem;
  }
  
  .contact-section .card hr {
    border-color: #64a19d;
    border-width: 0.25rem;
    width: 3rem;
  }
  
  .contact-section .social {
    margin-top: 5rem;
  }
  
  .contact-section .social a {
    text-align: center;
    height: 3rem;
    width: 3rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    line-height: 3rem;
    color: rgba(255, 255, 255, 0.3);
  }
  
  .contact-section .social a:hover {
    color: rgba(255, 255, 255, 0.5);
  }
  
  .contact-section .social a:active {
    color: #fff;
  }

  .btn {
    -webkit-box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    padding: 1.25rem 2rem;
    font-family: 'Varela Round';
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: .15rem;
    border: 0;
  }
  
  .btn-primary {
    background-color: #64a19d;
  }
  
  .btn-primary:hover {
    background-color: #4f837f;
  }
  
  .btn-primary:focus {
    background-color: #4f837f;
    color: white;
  }
  
  .btn-primary:active {
    background-color: #467370 !important;
  }
  .projects-section {
    padding: 10rem 0;
  }
  
  .projects-section .featured-text {
    padding: 2rem;
  }
  
  @media (min-width: 992px) {
    .projects-section .featured-text {
      padding: 0 0 0 2rem;
      border-left: 0.5rem solid #64a19d;
    }
  }
  
  .projects-section .project-text {
    padding: 3rem;
    font-size: 90%;
  }
  
  @media (min-width: 992px) {
    .projects-section .project-text {
      padding: 5rem;
    }
    .projects-section .project-text hr {
      border-color: #64a19d;
      border-width: .25rem;
      width: 30%;
    }
  }

  .job {
    display: none;
    margin: 0 auto;
  }
  
  .job h5 {
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .job p {
    font-size: 0.8rem;
    margin-bottom: 0;
  }
  
  
  .divisor {
    width: 100%;
    height: 10%;
    background-image: linear-gradient(to right, #2e8b7c 0%, #09211d 51%, #2e8b7c 100%);
    position: absolute;
    left: 0;
    right: 0;
    top: -22%;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
  
  }
  
  .divisor:hover {
    background-position: right center;
  }
  
  .divAbout .row {
    position: relative;
  }
  .divServicio .row {
    position: relative;
  }
  #imgGMA {
    width: 60%;
    height: auto;
  }
  
  #imgGMA:hover {
    opacity: 0.9;
  }
  
  .projects-section {
    padding: 5rem 0;
  }
  
  .wrapperDescription {
    width: 80%;
    margin: 0 auto;
    padding: 60px;
    background-color: #f6f6f6;
    background-image: linear-gradient(315deg, #e9e9e9 0%, #f5f5f5 66%);
    border-radius: 20px;
  }
  
  .wrapperDescription h2 {
    font-size: 1.5rem;
  }
  
  #loader {
    width: 100px;
    height: 100%;
    margin: 0 auto;
  }
  
  .divContact {
    margin-right: 0; 
    margin-left: 0; 
  }
  
  .divContact .btnSendMail {
    width: 100%;
  }

   
  @media (max-width: 767px) {
    .divHexagon {
      height: 40%;
      width: 100%;
    }
    .divisor {
      height: 6.5%;
      bottom: 60%;
      top: 5%;
    }
  
    .job p, .job h5 {
      font-size: 0.7rem;
    }
  
    .divInfo {
      text-align: center;
    }
  }
  
  #projects {
      margin-top: 3rem;
  }

  .contact {
    padding: 0;
  }
  
  .contactInfo {
    display: flex;
    align-items: center;
    color: #444;
    padding: 30px;
    background-color: #4ec583;

  }
  
  .contactIcon {
    text-align: right;
    color: #444 !important;
    font-size: 2em;
  }

  
